p {
  text-align: center;
  font-style: italic;
}

.promotion-container {
  height: 10em;
  text-align: center;
  width: 100%;
  padding-bottom: 2em;
}

/* Phones :) */
@media screen and (max-width: 990px) {
  .promotion-container {
    height: 15em;
    text-align: center;
    width: 100%;
    padding-bottom: 2em;
  }
}
