<div class="potato-sauce-container">
  <div class="add-title">
    <div>
      <img src="/assets/sauce.png" />
      <span>Saus valg (inkludert)</span>
    </div>
    @for (sauce of sauces; track sauce; let i = $index) {
      <div class="add-container">
        <p>{{ i + 1 }}. {{ sauce.title }} ({{ sauce.allergies }})</p>
      </div>
    }
  </div>
  <div class="potato-container">
    <div class="add-title">
      <div>
        <img src="/assets/potato.png" />
        <span>Potetvalg valg (inkludert)</span>
      </div>
      <!-- End tilbehør -->
      @for (sauce of sides; track sauce; let i = $index) {
        <div class="add-container">
          <p>{{ i + 1 }}. {{ sauce.title }} ({{ sauce.allergies }})</p>
        </div>
      }
    </div>
  </div>
</div>
