.single-menu-item {
  margin-top: 4em;
  margin-left: 6em;
  margin-right: 6em;
  border-bottom: 1px solid gray;
  margin-bottom: 4em;
}
.menu-item-price {
  float: right;
}
/* Phones :) */
@media screen and (max-width: 990px) {
  .single-menu-item {
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
    border-bottom: 1px solid gray;
    margin-bottom: 4em;
  }
}
