<nav class="navbar navbar-expand-sm navbar-light navbar-container">
  <div class="nav-wrapper">
    <div class="phone-container">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <span>Telefon: (+47) 62 95 00 62</span>
    </div>
  </div>
  <div class="social-wrapper">
    <a
      class="social-link"
      rel="noopener"
      target="_blank"
      href="https://www.facebook.com/Folketssteakhouse"
    >
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
    <a
      class="social-link"
      rel="noopener"
      target="_blank"
      href="https://www.instagram.com/folketssteakhouse/"
    >
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </div>
</nav>
