.slider {
  position: absolute;
  top: 0;
}

ngb-carousel {
  width: 100vw;
  height: 100vh;
  & img {
    object-fit: cover;
    opacity: 0.85;
  }
}

.carousel-caption {
  border-radius: 2em;
  padding: 1em;
  background: burlywood;
}
