<div class="paragraph-containers">
  <!-- #1 -->
  <div class="paragraph">
    <img src="/assets/plate.png" />
    <p>
      Folkets steakhouse, er en resturant på Flisa. Vi leverer mat som smaker
      godt og er av høy kvalitet. Råvarene kommer fra Gilberg Engros Menyparter,
      hvor vår mat alltid er fersk, og kjøttet mørt.
    </p>
  </div>
  <!-- #2 -->
  <div class="paragraph">
    <img src="/assets/fast-delivery.png" />
    <p>
      Vi tilbyr take-away eller selskap. Om det er koseligere å spise hjemme,
      holde selskap hos oss, eller andre sammenkomster, lager vi mat til enhver
      anledning.
    </p>
    <div class="email-container">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <span>Epost: post@folketssteakhouse.no</span>
    </div>
  </div>
</div>
