<div class="paragraph-containers">
  <!-- #1 -->
  <div class="paragraph">
    <img src="/assets/plate.png" />
    <p>
      Velkommen til Folkets Steakhouse på Flisa - stedet for saftige biffer,
      sprø tilbehør og gode opplevelser. Vi brenner for smak, kvalitet og
      gjestfrihet, og bruker ferske råvarer fra Gilberg Engros Menyparter for
      å sikre møre kjøttstykker og velsmakende retter – hver eneste gang.
    </p>
  </div>
  <!-- #2 -->
  <div class="paragraph">
    <img src="/assets/fast-delivery.png" />
    <p>
      Enten du vil kose deg hjemme med take-away, feire hos oss, eller
      samle gode venner, byr vi på rause porsjoner, gode smaker og lun
      atmosfære. Bestill når det passer – vi gjør måltidet til et
      høydepunkt.
    </p>
    <div class="email-container">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <span>Epost: post@folketssteakhouse.no</span>
    </div>
  </div>
</div>
