<div class="menu-container">
  <h2 class="menu-title">Meny</h2>
  <div class="category-container">
    <button
      type="button"
      class="rounded-pill btn btn-primary bg-primary text-light"
      (click)="navigateToSection('smaaretter')"
    >
      Småretter
    </button>
    <button
      class="rounded-pill btn btn-primary bg-primary text-light"
      (click)="navigateToSection('burgere')"
    >
      Hjemmelagde burgere
    </button>
    <button
      class="rounded-pill btn btn-primary bg-primary text-light"
      (click)="navigateToSection('biff')"
    >
      Biff
    </button>
    <button
      class="rounded-pill btn btn-primary bg-primary text-light"
      (click)="navigateToSection('spesialbiff')"
    >
      Kokkens Spesial
    </button>
    <button
      class="rounded-pill btn btn-primary bg-primary text-light"
      (click)="navigateToSection('grillretter')"
    >
      Andre grillretter
    </button>
    <button
      class="rounded-pill btn btn-primary bg-primary text-light"
      (click)="navigateToSection('salater')"
    >
      Salater
    </button>
    <button
      class="rounded-pill btn btn-primary bg-primary text-light"
      (click)="navigateToSection('potet')"
    >
      Bakt Potet
    </button>
    <button
      class="rounded-pill btn btn-primary bg-primary text-light"
      (click)="navigateToSection('pasta')"
    >
      Pasta
    </button>
    <button
      class="rounded-pill btn btn-primary bg-primary text-light"
      (click)="navigateToSection('pizza')"
    >
      Pizza
    </button>
    <button
      class="rounded-pill btn btn-primary bg-primary text-light"
      (click)="navigateToSection('fisk')"
    >
      Fisk
    </button>
    <button
      class="rounded-pill btn btn-primary bg-primary text-light"
      (click)="navigateToSection('barn')"
    >
      Barnemeny
    </button>
    <button
      class="rounded-pill btn btn-primary bg-primary text-light"
      (click)="navigateToSection('dessert')"
    >
      Dessert
    </button>
    <button
      class="rounded-pill btn btn-primary bg-primary text-light"
      (click)="navigateToSection('drikke')"
    >
      Drikke
    </button>
  </div>
</div>
