<div class="menu-container">
  <h2 class="menu-title">Meny</h2>
  <div class="category-container">
    <span
      class="badge rounded-pill bg-primary text-light"
      (click)="navigateToSection('smaaretter')"
      >Småretter</span
    >
    <span
      class="badge rounded-pill bg-primary text-light"
      (click)="navigateToSection('burgere')"
      >Hjemmelagde burgere</span
    >
    <span
      class="badge rounded-pill bg-primary text-light"
      (click)="navigateToSection('biff')"
      >Biff</span
    >
    <span
      class="badge rounded-pill bg-primary text-light"
      (click)="navigateToSection('spesialbiff')"
      >Kokkens Spesial</span
    >
    <span
      class="badge rounded-pill bg-primary text-light"
      (click)="navigateToSection('grillretter')"
      >Andre grillretter</span
    >
    <span
      class="badge rounded-pill bg-primary text-light"
      (click)="navigateToSection('salater')"
      >Salater</span
    >
    <span
      class="badge rounded-pill bg-primary text-light"
      (click)="navigateToSection('potet')"
      >Bakt Potet</span
    >
    <span
      class="badge rounded-pill bg-primary text-light"
      (click)="navigateToSection('pasta')"
      >Pasta</span
    >
    <span
      class="badge rounded-pill bg-primary text-light"
      (click)="navigateToSection('pizza')"
      >Pizza</span
    >
    <span
      class="badge rounded-pill bg-primary text-light"
      (click)="navigateToSection('fisk')"
      >Fisk</span
    >
    <span
      class="badge rounded-pill bg-primary text-light"
      (click)="navigateToSection('barn')"
      >Barnemeny</span
    >
    <span
      class="badge rounded-pill bg-primary text-light"
      (click)="navigateToSection('dessert')"
      >Dessert</span
    >
    <span
      class="badge rounded-pill bg-primary text-light"
      (click)="navigateToSection('drikke')"
      >Drikke</span
    >
  </div>
</div>
